@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');
/* font-family: "Lato", Heavy;
font-family: "Lato", Regular;
font-family: "Roboto Slab", bold;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EDEFF0;
}

.container{
    padding: 0 4%;
    max-width: 1200px;
    margin: 20px 150px;
}

a{
    text-decoration: none;
}

hr{
    border: 0;
}

header{
    width: 100%;
    max-width: 1140px;
    margin: 15px auto;
    margin-left: 200px;
    height: 190px;
}

.btn{
    width: 138px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #4592FF;
}

.header__inner{
    width: 100%;
    height: 135px;
}

.header__inner__left__section{
    display: flex;
    justify-content: start;
}

.header__inner__left__form{
    width: 100%;
}

.header__inner__left__form form{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 50px;
    border: 0;
}

.header__inner__left__form input{
    width: 100vh;
    height: 30px;
    background-color: #ffffff;
    margin-left: 10px;
    border: 0;
}

.header__inner__left__form input:focus{
    outline: none;
}

.state-of-svoboda{
    display: flex;
    align-items: center;
    margin-top: 35px;
    position: absolute;
}

.state-of-svoboda__description{
    margin-left: 20px;
}



.header__inner__middle{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 160px;
    margin-top: 30px;
}




.header__inner__right{
    width: 100%;
    display: flex;
    justify-content: end;
}

.header__inner__right__image{
    display: flex;
    position: absolute;
    top: 20px;
    left: 38cm;
}

.header__inner__right__image img{
    height: 40px;
}

.header__inner__right__text{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 5px;
}

.text-header{
    margin-top: 10px;
}

.header__inner__right__description{

}

.header__inner__right__info{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.header__inner__right__info__top{
    display: flex;
    padding-left: 90px;
    padding-top: 10px;
}

.header__inner__right__info__top svg{
    margin-right: 10px;
}

.header__inner__right__info__top a{
    color: #4B5157;
}

.header__inner__right__info__top p{
    font-family: "Lato", Regular;
}

.header__inner__right__info__bottom{
    display: flex;
    justify-content: space-between;
    color: #4B5157;
    padding-top: 50px;
    padding-right: 0;
}

.header__inner__right__info__bottom__text{
    width: 326px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.header__inner__right__info p{
    font-family: "Lato", Heavy;
}

.header__inner__right__info__bottom__text__weather{
    display: flex;
}

.header__inner__right__info__bottom__text__weather p{
    margin-left: 10px;
}



nav{
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(133px + -0.1rem);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 55px;
    background-color: #262D33;
}

nav a{
    color: #F2F2F7;
}

nav h2{
    font-size: 20px;
    font-family: "Lato", Heavy;
}












.hero{
    width: 100%;
    height: 680px;
    position: absolute;
    top: 186px;
    background-color: #262D33;
}

.hero__inner{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.hero__content{
    width: 1640px;
    height: 150px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #30363D;
    border-radius: 10px;
}

.hero__container{
    width: 256px;
    height: 109px;
    display: flex;
    position: relative;
    margin-right: 55px;
}

.hero__container h2{
    color: white;
    font-family: "Roboto Slab", Bold;
}

.hero__container img{
    width: 85px;
    height: 85px;
    position: absolute;
    left: 230px;
}

.hero__container svg{
    position: absolute;
    right: -120px; 
}







.hero__location{
    width: 1650px;
    height: 600px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    position: absolute;
    left: 130px;
    top: 220px;
    background-color: #F2F2F7;
}

.hero__location__content{
    position: relative;
}

.hero__location__left{
    position: absolute;
    left: -825px;
}

.hero__location__left img{
    position: relative;
    width: 1240px;
    border-radius: 10px 0 0 10px;
    height: 750px;
}

.hero__left__info{
    padding: 54px;
    display: flex;
    position: absolute;
    top: 0;
}

.hero__left__info-h2-p{
    margin: 10px;
}

.hero__left__info-h2-p p, hero__left__info-h2-p h2{
    color: white;
    font-family: "Lato", Regular;
}

.hero__left__info-h2-p, .hero__left__info-h2-p h2{
    font-size: 18px;
    color: #F2F2F7;
}


.hero__left__info-h2-p p{
    margin-top: 3px;
    font-size: 14px;
}

.hero__left__bottom{
    height: 350px;
    position: absolute;
    padding-left: 50px;
    bottom: -10px;
}

.hero__left__bottom h3{
    font-size: 17px;
    font-family: "Lato", Heavy;
    color: #4592FF;
}

.hero__left__bottom h2{
    font-size: 40px;
    font-family: "Roboto Slab", bold;
    margin-top: 40px;
    color: #F2F2F7;
}

.hero__left__bottom a{
    color: white;
    font-family: "Lato", Heavy;
}

.hero__left__bottom .btn{
    margin-top: 50px;
}

.btn-1{
    display: flex;
    align-items: center;
}

.btn-1 p{
    margin-bottom: 4px;
}

.btn-1 svg{
    margin-left: 10px;
}

.hero__left__bottom__btn{
    display: flex;
}

.btn-2{
    display: flex;
    margin-top: 45px;
    margin-left: 30px;
}

.btn-2-p{
    margin-left: 10px;
}

.btn-2-p span{
    position: absolute;
    bottom: 95px;
    color: rgba(182, 181, 181, 0.78);
    font-family: "Lato", Regular;
}

.btn-2 p{
    color: white;
    font-family: "Lato", Regular;
}

.hero__location__right{
    width: 410px;
    padding: 30px;
    height: 750px;
    position: absolute;
    left: calc(415px + 0.02rem);
    border-radius: 0 10px 0 0;
}

.hero__location__right h2{
    font-family: "Lato", Heavy;
    color: #262D33;
}

.hero__right__content{
    width: 293px;
    height: 90px;
    margin-top: 45px;
}

.food{
    font-family: "Lato", Heavy;
    color: #3BBDC4;
}

.hero__right__content p{
    margin-top: 5px;
    font-family: "Lato", Regular;
    color: #4B5157;
}

.hero__right__content svg{
    margin-left: 5px;
}

.cars{
    color: #6E99AE;
    font-family: "Lato", Heavy;
}

.movies{
    color: #AC8EE3;
    font-family: "Lato", Heavy;
}

.nfl{
    color: #FFA34D;
    font-family: "Lato", Heavy;
}

.tech{
    font-family: "Lato", Heavy;
    color: #3DC47E;
}













/* секция question*/

.question{
    width: 1650px;
    height: 775px;
    position: absolute;
    margin-left: 130px;
    bottom: -1070px;
}

.question__inner{
    display: flex;
}

.question__block{
    width: 840px;
    height: 520px;
    padding-left: 30px;
    position: relative;
}

.question__block h3{
    font-size: 23px;
    font-family: "Lato", Heavy;
    color: #6E99AE;
}

.question__block h2{
    font-size: 44px;
    font-family: "Roboto Slab", Bold;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #262D33;
}

.question__block p{
    font-size: 20px;
    margin-top: 4px;
    font-family: "Lato", Regular;
    color: #4B5157;
}

.question__block img{
    width: 410px;
    height: 370px;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
}

.question__block__channel{
    display: flex;
    align-items: center;
    margin-top: 90px;
}

.question__block__channel h3{
    color: #262D33;
    margin-left: 15px;
}

.question__block__channel p{
    margin-left: 8px;
}

.question__block__comment{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.comment__block__comment svg{
    margin-top: 40px;
}


.question__design{
    width: 340px;
    height: 520px;
    padding: 25px;
    border-radius: 10px;
    background-image: url("img/image-208.png");
    background-repeat: no-repeat;
    background-color: #4592FF;
    background-position: center;
    background-size: cover;
    margin-left: 30px;
}

.design__btn a{
    width: 90px;
    height: 35px;
    border-radius: 3px;
    color: #F2F2F7;
    font-family: "Lato", Heavy;
    background-color: #3DC47E;
}

.design__info{
    margin-top: 210px;
}

.question__design h3{
    font-family: "Lato", Heavy;
    color: #F2F2F7;
}

.design__top{
    margin-top: 140px;
}

.design__top__p{
    width: 70%;
}

.design__top p{
    font-size: 20px;
    font-family: "Roboto Slab", Bold;
    color: #F2F2F7;
    margin-top: 20px;
}

.design__bottom{
    display: flex;
    margin-top: 25px;
    align-items: center;
}

.reactions{
    display: flex;
}

.data{
    display: flex;
}

.design__bottom__inner{
    padding-left: 10px;
    padding-top: 7px;
    font-family: "Lato", Regular;
}

.num{
    color: rgba(219, 219, 219, 0.22) ;
}

.sarah{
    color: #F2F2F7;
    margin-bottom: 3px;
}

.reactions svg{
    margin-left: 10px;
    margin-right: 3px;
    margin-top: 5px;
    color: rgba(219, 219, 219, 0.22);
}



.columns{
    width: 263px;
    height: 870px;
    background-color: #6E99AE;
    border-radius: 10px;
    margin-left: 30px;
    padding: 30px;
}

.columns__inner{

}

.columns__inner h3{
    font-family: "Lato", Heavy;
    color: #F2F2F7;
}

.columns__inner svg{
    position: absolute;
    right: 147px;
    margin-top: 25px;
}

.columns__content{
    margin-top: 70px;
    position: relative;
}

.columns__content h2{
    position: absolute;
    z-index: 1;
    color: #F2F2F7;
    font-family: "Roboto Slab", Bold;
}

.kovichki{
    position: absolute;
    left: -10px;
    top: -35px;
    z-index: 0;
}

.columns__content a svg{
    margin-top: 110px;
    margin-right: 15px;
}

.columns__description{
    font-family: "Lato", Regular;
    color: #D1E2EB;
    position: absolute;
    bottom: -150px;
    margin-left: 50px;
}

.poloska{
    position: absolute;
    bottom: 450px;
    margin-right: 25px;
}

.clm-2{
    margin-top: 325px;
}

.clm-2 .kovichki{
    position: absolute;
    top: -55px;
}

.clm-2 h2{
    position: absolute;
    top: -20px;
}

.clm-3{
    margin-top: 555px;
}

.pl{
    position: absolute;
    bottom: -40px;
    left: 1240px;
}

.pol{
    position: absolute;
    bottom: 205px;
}

.read-more {
    width: 263px;
    position: absolute;
    bottom: -80px;
    left: 1240px;
    display: flex;
    justify-content: center;
}



.saved-cat{
    width: 400px;
    height: 470px;
    position: absolute;
    bottom: -210px;
}

.saved-cat img{
    width: 100%;
    height: 400px;
}

.saved-cat h2{
    font-family: "Roboto Slab", Bold;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 60px;
    color: #262D33;
}




.news{
    width: 750px;
    height: 470px;
    right: 440px;
    bottom: -240px;
    position: absolute;
}

.news__inner{
    padding-top: 30px;
    display: flex;
    gap: 50px;
}

.news__left{
    width: 340px;
    height: 420px;
}

.news__right{
    width: 340px;
    height: 420px;
    margin-left: 20px;
}

.news__block{
    width: 340px;
    height: 100px;
    padding: 20px;
}

.news__block h3{
    font-size: 20px;
    font-family: "Roboto Slab", Bold;
    color: #14161b;
}

.news__block h4{
    font-size: 16px;
    margin-top: 8px;
    font-family: "Lato", Regular;
    color: #3a3d42;
}

.news__block p{
    font-size: 16px;
    font-family: "Lato", Regular;
    margin-top: 10px;
    color: #727375;
}

.block-2{
    margin-top: 100px;
}






/* Секция flower*/
.flower{
    width: 100%;
    height: 270px;
    position: absolute;
    bottom: -1600px;
    background-image: url("img/image-216.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.flower__inner{
    display: flex;
    justify-content: center;
}

.flower__description{

}

.flower__inner h2{
    font-family: "Roboto Slab", Bold;
    font-size: 44px;
    margin-top: 50px;
    color: #F2F2F7;
}

.flower__inner p{
    font-family: "Roboto Slab", Bold;
    color: #D1E2EB;
    font-size: 44px;
    margin-left: 70px;
}

.flower__description{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.flower__description .btn{
    padding: 15px;
    margin-top: 25px;
}

.flower__description h3{
    font-size: 17px;
    font-family: "Lato", Regular;
    color: #D1E2EB;
}

.flower__description svg{
    margin-left: 5px;
    margin-top: 3px;
}







/*Секция category*/

.category{
    width: 100%;
    height: 970px;
    padding: 120px;
    position: absolute;
    bottom: -2570px;
}

.category__inner{
    display: flex;
}

.category__left__{
    display: flex;
    flex-direction: column;
}

.category__left__block{
    width: 1100px;
    height: 300px;
    padding: 25px;
    display: flex;
}

.category__left__block img{
    width: 436px;
}

.category__left__block__description{
    margin-left: 30px;
    margin-top: 5px;
}

.category__left__block__description h2{
    font-family: "Roboto Slab", Bold;
    margin-top: 20px;
    color: #262D33;
}

.weaker{
    font-family: "Lato", Regular;
    color: #4B5157;
    margin-top: 10px;
}

.flights{
    font-family: "Lato", Heavy;
    color: #4592FF;
}

.category__left__reaction{
    display: flex;
    margin-top: 30px;
}

.category__left__reaction p{
    color: #939699;
}

.reaction__comment{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.category__left__reaction svg{
    margin-top: 3px;
    margin-right: 5px;
}

.reaction__like{
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.bookmark{
    display: flex;
    justify-content: space-between;
}

.science{
    font-family: "Lato", Heavy;
    color: #FF4F52;
}

.art{
    font-family: "Lato", Heavy;
    color: #AC8EE3;
}



.category__right__block{
    width: 300px;
    height: 870px;
    padding: 25px;
}

.category__right__block h3{
    font-size: 18px;
    font-family: "Lato", Heavy;
}

.category__block__card {
    display: flex;
    margin-top: 40px;
}

.category__card__description{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.category__block__card h4{
    font-size: 16px;
    font-family: "Lato", Regular;
    color: #222121;
}

.category__block__card p{
    margin-top: 5px;
    font-family: "Lato", Regular;
    color: #6b6d70;
}

.category__right__block a{
    font-family: "Lato", Heavy;
    color: #0c0c0e;
}

.category__block__read{
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
}





/* Секция career*/
.career{
    width: 100%;
    height: 700px;
    background-color: #262D33;
    position: absolute;
    bottom: -4300px;
    padding-left: 145px;
    padding-right: 145px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.career__inner{
    display: flex;
}

.career__card-one{
    width: 555px;
    height: 570px;
    background-image: url("img/image-205.png");
    border-radius: 10px;
    padding: 20px;
}

.btn-3{
    width: 65px;
    height: 35px;
    border-radius: 10px;
    background-color: #FF4F52;
    color: white;
    font-family: "Lato", Heavy;
}

.career__card-one__channel{
    width: 555px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", Regular;
    color: #FFFFFF;
}

.career__card-one__channel h3{
    margin-top: 5px;
}

.career__card-one__channel h4{
    margin-top: 3px;
}

.career__card-one__channel h2{
    width: 400px;
    margin-left: 60px;
    font-family: "Roboto Slab", Bold;
    font-size: 40px;
    margin-top: 35px;
}

.career__card-one__channel .btn{
    width: 185px;
    margin-top: 45px;
}

.career__card-one__channel .btn h4{
    margin-bottom: 5px;
    margin-left: 10px;
    color: white;
}

.career__cards{

}

.career__card-two{
    width: 555px;
    height: 370px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 30px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
}

.career__card-two h4{
    font-family: "Lato", Heavy;
    color: #6E99AE;
}

.career__card-two h2{
    font-size: 25px;
    margin-top: 20px;
    font-family: "Roboto Slab", Bold;
    color: #131313;
}

.career__card-two p{
    width: 213px;
    font-size: 15px;
    margin-top: 10px;
    color: #4B5157;
    font-family: "Lato", Regular;
}

.career__card-two a{
    margin-top: 29px;
}

.career__card-two a h4{
    color: #F2F2F7;
    margin-bottom: 3px;
}

.career__card-two a svg{
    margin-left: 7px;
}

.career__cards__three-four{
    display: flex;
}

.career__card-three{
    width: 263px;
    height: 170px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    padding: 25px;
}

.career__card-three h3{
    font-size: 18px;
    font-family: "Roboto Slab", Bold;
    color: #262D33;
}

.career__card-three h4{
    margin-top: 7px;
    color: #30363a;
    font-family: "Lato", Regular;
}

.career__card-three p{
    color: #67676a;
    font-family: "Lato", Regular;
    margin-top: 10px;
}









footer{
    width: 100%;
    height: 800px;
    background-color: #ffffff;
    position: absolute;
    bottom: -5070px
}

.footer__inner h2{
    font-size: 40px;
    font-family: "Roboto Slab", Bold;
    color: #262D33;
}

.footer__tittle{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.footer__tittle input{
    width: 313px;
    height: 30px;
    border: none;
    margin-top: 25px;
}

.footer__tittle input:focus{
    outline: none;
}

.footer__tittle form{
    display: flex;
    align-items: center;
}

.footer__tittle a{
    color: white;
    font-family: "Lato", Heavy;
    margin-top: 30px;
}

.footer__nav {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 115px;
    margin-top: 70px;
}

.polos{
    margin-right: -5px;
}

.footer__razdels {
    width: 66%;
    display: flex;
}

.footer__razdel{

}

ul{
    width: 200px;
    display: flex;
    flex-direction: column;
}

li{
    width: 63.3%;
    list-style: none;
    margin-top: 25px;
    margin-right: 1065px;
}

li b{
    font-family: "Lato", Heavy;
}

ul li a{
    color: #4B5157;
    font-family: "Lato", Regular;
}

.footer__socials{
    width: 100%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}

.footer__social__start{
    width: 690px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 265px;
}

.footer__social__start h3{
    font-family: "Lato", Heavy;
    color: #1a2023;
}

.footer__socials__end {
    width: 500px;
    display: flex;
    justify-content: end;
}

.soc{
    margin-right: 10px;
}

.footer__bottom{
    width: 66%;
    margin-top: 60px;
    font-family: "Lato", Regular;
    color: #767b80;
    display: flex;
    justify-content: space-between;
}
